<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.franky.mybatis.example.dao.BlogMapper">

    <select id="selectById" parameterType="long" resultType="com.franky.mybatis.example.model.Blog">
        select * from blog where id = #{id}
    </select>
</mapper>